h1{text-align: center;font-size:60px}
div.infosite{border: 25px solid #A4A4A4;background: #D8D8D8}
body{;font-size: 20px}
div.infosite2{border: 5px solid black;text-align: center;}
h2{color: purple}
a{color: darkblue;font-size: 30px;text-align: right;}
p{text-align: left;}