h2{color: purple}
a{color: darkblue;font-size:30px;text-align: right;}
body{font-size:25px} 
h1{text-align: center;}
div.mobile{text-align: center;border: 5px solid black}
div.mobile2{border: 25px solid darkgrey;background:#f0f9bb }