div.Nintendo{border: 25px solid red;background:#ea7e7e}

h2{color: purple}
a{color: darkblue;font-size: 30px;text-align: right;}
body{font-size:20px;} 
h1{text-align:center;}
div.Nintendo3{text-align: left;}
div.Nintendo2{text-align: center;border: 5px solid black}