body{font-size:25px;}
h2{color: purple}
a{color: darkblue;font-size: 30px;text-align: right;}
p{text-align: left;}
div.sony{border: 25px solid darkblue;background:#8cfdff }
div.sony2{border: 5px solid black;text-align: center;}