h1{text-align: center;font-size:60px}

div.jeu {border: 25px solid #000FFF
	;background:#92ddf4;
}
div.sony{text-align: center;border: 5px solid black}
body{font-size: 20px}
h2{color: purple}
a{color: darkblue;font-size: 20px;text-align: right;}
p{text-align: left;}
