body{font-size: 25px;}
h2{color: purple}
a{color: darkblue;font-size: 30px;text-align: right;}
p{text-align: left;}
div.xbox{border: 25px solid green;background:#9effbb }
div.xbox3{border: 5px solid black;text-align: center;}